@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-width: 375px;
}

.gradient-background {
    background: linear-gradient(-300deg,#000000,#000000,#080029,#000002);
    background-size: 180% 180%;
    animation: gradient-animation 30s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }