@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-width: 375px;
}

.gradient-background {
    background: linear-gradient(-300deg,#000000,#000000,#080029,#000002);
    background-size: 180% 180%;
    animation: gradient-animation 30s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @layer utilities {
    .border-b-expand {
      position: relative;
    }
    .border-b-expand::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 1px;
      background: currentColor;
      transition: width 0.2s ease-out, left 0.2s ease-out;
    }
    .border-b-expand:hover::before {
      width: 100%;
      left: 0;
    }
  }
